{% extends 'mehbatiInterimBundle::base.html.twig' %}

{% block title %}Nouveau Entrepreneur{% endblock %}
{% block titrePage %}Nouveau Entrepreneur{% endblock %}
{% block contenu %}
    
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h4><center>Nouvelle entrepreneur</center></h4>
        <div class="hline"></div><br>
        {{form(form)}}
    </div>
    
{% endblock%}

