{% extends 'mehbatiInterimBundle::base.html.twig' %}

{% block title %}Nouveau chantier{% endblock %}
{% block titrePage %}Nouveau chantier{% endblock %}
{% block contenu %}
    
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h4><center>Creer un nouveau chantier</center></h4>
        <div class="hline"></div><br>
        {{ form(form) }}
    </div>
    
{% endblock%}