
{% extends 'mehbatiInterimBundle::base.html.twig' %}

{% block title %}Nouveau congé{% endblock %}
{% block titrePage %}Nouveau congé {% endblock %}
{% block contenu %}
    
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h4><center>Saisir un congé</center></h4>
        <div class="hline"></div><br>
        {{form(form)}}
    </div>
    
    
{% endblock%}

